h1 {
  font-family: Antonio;
}

h2,
h3,
h4,
p,
a {
  font-family: Satoshi;
}

h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  font-weight: bold;
}
h2 {
  font-size: clamp(1rem, 1vw, 1rem);
  // line-height: clamp(2.5rem, 6vw, 4rem);
}
h3 {
  font-size: clamp(2rem, 2vw, 2rem);
  font-weight: 700;
}
h4 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  // line-height: clamp(1.5rem, 3vw, 2rem);
}


