@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --background: $color-white;
  --text: $color-black;
}

.theme-dark {
  --background: $color-black;
  --text: $color-white;
}
