@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --background: $color-white;
  --text: $color-black;
}

.theme-dark {
  --background: $color-black;
  --text: $color-white;
}

@layer components {
  .absolute-center {
    /* @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
